body {
  font-family: helvetica;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  height:

}

a {
  font-size: 18px;
  color: white;
}
.identify {

  margin-left: 400px;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url("../icons/identify.svg");
  background-size: 100px 82px;

}

.understand {
  margin-left: 400px;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url("../icons/understand.svg");
  background-size: 100px 82px;
}

.execute {
  margin-left: 400px;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url("../icons/execute.svg");
  background-size: 100px 82px;
}
h2 {
  font-size: 32px;
  font-weight: bold;

}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}


.design h3 {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.footer   {
  color: white;
  display: inline-block;
  background-color: dimgray;
  padding-left: 286px;
  padding-right: 286px;

}

.footer p {
  display: inline;
  font-size: 11px;
}
